<div class="brand">
  <img class="brand-logo" src="favicon.ico" alt="Logo Angular" width="32" height="32" />
  <span class="brand-name">Angular</span>
</div>

<ul class="menu">
  <li>
    <a routerLink="/">Accueil</a>
  </li>

  <li class="group">
    <span class="group-title">Démonstrations</span>
    <ul>
      <li class="subgroup">
        <span class="subgroup-title">Binding</span>
        <ul class="submenu">
          <li>
            <a routerLink="/demo01" >01. Interpolation</a>
          </li>
          <!-- <li>
            <a routerLink="#">Démo 02 - Property Binding</a>
          </li> -->
          <!-- <li>
            <a routerLink="#" >Démo 03 - Event Binding</a>
          </li> -->
          <!-- <li>
            <a routerLink="#" >Démo 04 - Two-way Binding</a>
          </li> -->
        </ul>
      </li>
    </ul>
  </li>

  <li class="group">
    <span class="group-title">Exercices</span>
    <ul>
      <li><a routerLink="/exo01">01. Profil statique</a></li>
    </ul>
  </li>

  

</ul>

